.video-navigation input[type="range"].video-volume {
  max-width: 10%;
}

.video-button {
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.audio-container {
  cursor: pointer;
}

.enlarge-transform {
  color: rgb(255, 219, 171);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.visualization {
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.canvas {}

/* volume slider to music player */
input[type=range].audio-volume {
  width: 100px;
  height: 4px;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 12px 0;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
}

input[type=range].audio-volume::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 3px;
  -webkit-appearance: none;
  background-color: #ffffff;
}

input[type=range].audio-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #3845ff;
  box-shadow: -100px 0 0 100px #F51E38;
}

input[type=range].audio-volume::-moz-range-track {
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
}

input[type=range].audio-volume::-moz-range-thumb {
  height: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

input[type="range"].audio-volume::-moz-range-progress {
  background-color: #F51E38;
}

input[type="range"].audio-volume::-ms-fill-lower {
  background-color: #F51E38;
}

@media (max-width: 1024px) {
  .video-navigation input[type="range"].video-volume {
    width: 35%;
  }

  .video-navigation {
    padding: 0 5px;
  }

  .video-button {
    margin: 0;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 466px;
  }

  .video-player {
    height: 261px;
  }

  .video-time__total {
    display: none;
  }
}

@media (max-width: 550px) {
  .video-time__passed {
    display: none;
  }

  .video-navigation {
    bottom: -40px;
  }
}

@media (max-width: 470px) {
  .container {
    max-width: 390px;
  }

  .video-player {
    height: 218px;
  }

}

@media (max-width: 400px) {
  .container {
    max-width: 315px;
  }

  .video-player {
    height: 176px;
  }

  .video-navigation input[type="range"].video-progress {
    width: 40%;
  }

}

@media screen and (max-height: 800px) and (orientation: portrait) {
  .header {
    padding-top: 10px;
    margin-bottom: 5px;
  }

  .player {
    margin-bottom: 10px;
  }

  .audio {
    margin-top: 10px;
  }

  .container {
    max-height: 300px;
  }

  .audio-container {
    height: 100%;
  }
}